body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(119, 115, 115);
    font-size: 2rem;
}

h1 {
    color: rgb(238, 178, 14);
}

.btn {
    background-color: rgb(238, 178, 14);
    color: rgb(119, 115, 115);
    border-radius: 16px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    outline: none;
    margin-bottom: 15px;
    margin-top: 5px;
    border: none;
}

#message-el {
    font-style: italic;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(250, 241, 241);
}